@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&family=Ubuntu:wght@700&display=swap');


.App input {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
}

.titulo {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
